{% extends 'base.html.twig' %}

{% block title %}Rayons{% endblock %}

{% block content %}


    <div class="row">

        {% for categorie in categories  %}

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ asset(categorie.visuel) }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ categorie.libelle }}</h5>
                    <p class="card-text">{{ categorie.texte }}</p>
                    <a href="{{ path('rayon',  {"idCategorie":categorie.id} ) }}" class="btn btn-primary">Voir les produits</a>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}